@import "src/index.scss";

.circular-report-column {
  color: $primary-font-color;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 340px;
  background-color: $secondary-bg;
  border-radius: $border-radius;
  padding: 10px 0px;
}

.cr-header-right {
  display: flex;
  gap: 12px;
  align-items: center;
}

.circular-report-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-bottom: #393c49 2px solid;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  padding: 16px 24px;
  margin-top: 8px;
}

.circular-report-container {
  background-color: $secondary-bg;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;
  border-radius: $border-radius;
}

@media (max-width: 1180px) {
  .circular-report-container {
    flex-direction: column;
  }
}

.order-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.order-stat {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.stat-indicator {
  &-pink {
    background-color: #ff7ca3;
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }
  &-blue {
    background-color: #65b0f6;
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }
  &-yellow {
    background-color: #ffb572;
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }
}
