$primary-bg: #393c49;
$secondary-bg: #1f1d2b;
$accent-color: #ea7c69;
$primary-font-color: #fff;
$primary-font: "Barlow", sans-serif;
$border-radius: 8px;

$button-shadow: 0 8px 24px #eb7d6a32, 0 0 8px #ea7c69;

$linear-color: linear-gradient(
  to bottom right,
  rgba(186, 186, 251, 1),
  rgba(237, 145, 167, 1),
  rgba(241, 169, 96, 1)
);

$primary-font: "Barlow", sans-serif;
$primary-font-size: 14px;
