@import "@/styles/abstracts/_variables";

.settings-cat-main-container {
  display: flex;
  flex-direction: column;
  background-color: $secondary-bg;
  padding: 24px;
  border-radius: $border-radius;
}

.settings-cat-header {
  display: flex;
  justify-content: space-between;
  margin: 34px 0;
}

.dishes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 32px;
  margin-block: 20px;
}

input {
  font-size: 14px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in,
    background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(255, 255, 255);
  background: $secondary-bg;
  display: block;
  height: 36px;
  :hover {
    border-color: #ccc;
  }
  :focus {
    border-color: #3d3d3d;
    background: $secondary-bg;
  }
}

.new-dish {
  display: flex;
  border: none;
  width: 280px;
  height: 342.5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #ea7c69;
  background: linear-gradient(90deg, #ea7c69 50%, transparent 50%),
    linear-gradient(90deg, #ea7c69 50%, transparent 50%),
    linear-gradient(0deg, #ea7c69 50%, transparent 50%),
    linear-gradient(0deg, #ea7c69 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 32px 4px, 32px 4px, 4px 32px, 4px 32px;
  background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
  animation: dash 5s linear infinite;
  animation-play-state: paused;
}

.new-dish:hover {
  animation-play-state: running;
}

@keyframes dash {
  to {
    background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
  }
}

.dish {
  display: flex;
  flex: 1 1 220px;
  max-width: 280px;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 22px;
  padding-inline: 40px;
  align-items: center;
  border: 2px #393c49 solid;
  border-radius: 8px;

  gap: 12px;
  text-align: center;
  & > img {
    width: 140px;
    height: 140px;
  }

  & > h4:first-of-type {
    margin-top: 30px;
  }
}

.edit-button {
  width: calc(100% + 80px);
  align-self: center;
  padding: 12px 0;
  margin-top: auto;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  // border: 2px #393c49 solid;
  border: none;
  color: #ea7c69;
  background-color: #50343a;
  & img {
    width: 20px;
    height: 20px;
    color: white;
  }
}

.button-elements-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.edit-button-save {
  width: calc(100% + 80px);
  align-self: center;
  padding: 12px 0;
  margin-top: auto;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  // border: 2px #393c49 solid;
  border: none;
  background-color: #0d8615;

  & img {
    width: 20px;
    height: 20px;
    color: white;
  }
}
